# Django
SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,jhelizservicestv.es,www.jhelizservicestv.es

# Base URL
SITE_URL=http://127.0.0.1:8000

# Database (SQLite for local dev, Postgres for prod)
DATABASE_URL=sqlite:///db.sqlite3

# Email (use console backend in dev, SMTP en prod)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# Para producción con SMTP (ej. Brevo/SendGrid/Hostinger):
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp-relay.brevo.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Jheliz <no-reply@jhelizservicestv.es>

# Mercado Pago (Perú)
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_WEBHOOK_SECRET=

# Contact / Social
WHATSAPP_NUMBER=+51999999999
TELEGRAM_USERNAME=jhelizbot
