Django>=5.2,<6.0
psycopg[binary]>=3.2
python-decouple>=3.8
dj-database-url>=2.2
Pillow>=11.0
django-allauth>=65.0
django-widget-tweaks>=1.5
whitenoise>=6.6
gunicorn>=23.0
mercadopago>=2.3
django-htmx>=1.22
django-extensions>=4.0
django-unfold>=0.50
requests>=2.32
django-csp>=4.0  # cabecera Content-Security-Policy
