{# Scripts de tracking en <head>. Se cargan SOLO si el usuario ha aceptado
   las cookies de analytics/marketing (jh_consent=granted). El consent
   manager está en cookie_banner.html. #}

{% if GA4_ID or META_PIXEL_ID or GOOGLE_ADS_ID or TIKTOK_PIXEL_ID %}
<script>
(function(){
  var consent = (function(){
    try { return document.cookie.split('; ').find(function(c){return c.indexOf('jh_consent=')===0;}); } catch(e){ return null; }
  })();
  var granted = consent && consent.indexOf('granted') !== -1;
  window.__jhConsent = granted;
})();
</script>
{% endif %}

{# Google Analytics 4 — disparado al consentir #}
{% if GA4_ID %}
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('consent','default',{'analytics_storage': window.__jhConsent ? 'granted':'denied','ad_storage': window.__jhConsent ? 'granted':'denied','ad_user_data': window.__jhConsent ? 'granted':'denied','ad_personalization': window.__jhConsent ? 'granted':'denied'});
gtag('js', new Date());
gtag('config', '{{ GA4_ID }}', { 'anonymize_ip': true });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GA4_ID }}"></script>
{% endif %}

{# Google Ads conversion tag #}
{% if GOOGLE_ADS_ID %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ADS_ID }}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{ GOOGLE_ADS_ID }}');
</script>
{% endif %}

{# Meta Pixel — solo dispara PageView si hay consentimiento #}
{% if META_PIXEL_ID %}
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '{{ META_PIXEL_ID }}');
if (window.__jhConsent) { fbq('track', 'PageView'); }
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id={{ META_PIXEL_ID }}&ev=PageView&noscript=1" /></noscript>
{% endif %}

{# TikTok Pixel #}
{% if TIKTOK_PIXEL_ID %}
<script>
!function (w, d, t) {
  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
  ttq.load('{{ TIKTOK_PIXEL_ID }}');
  if (window.__jhConsent) { ttq.page(); }
}(window, document, 'ttq');
</script>
{% endif %}
